*{
    font-family: Arial, Helvetica, sans-serif;
}
#myApp{
    height: 100vh;
}
h1,h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 10vh;
    background-color: rgb(55, 55, 55);
}
