*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
    flex-direction: column;
}
h1,h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    border: 2px solid black;
    width: 350px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 10px;
}
.card > h1{
    text-align: center;
}
.card > img{
    border-radius: 5px;
}
.card > p{
    text-align: justify;
    padding: 2px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}